.car_item {
    border: 1px solid #7c8a9736 !important;
    padding: 20px;
    border-radius: 5px;
}
.car_item-info span i {
    color: #ffa500 !important;
    font-size: 1.1rem;
}
.car_item-btn {
    border-radius: 0;
    border: none;
    outline: none;
    background: black !important;
    padding: 8px 0px;
}
.car_btn-details {
    background: #ffa500 !important;
    border-radius: 0px 4px 4px 0px;
}
.car_btn-rent {
    border-radius: 4px 0px 0px 4px;
}
.car_item-btn a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.car_item-btn a:hover {
    color: white !important;
}
.car_btn-details a {
    color: white !important;
}
.car_item-content h4 {
    font-size: 1.8rem;
}
.car_item-content h6 {
    font-size: 1.2rem;
    font-weight: 600;
}
@media only screen and (max-width: 992px) {
    .car_item h4 {
        font-size: 1.1rem !important;
        margin-bottom: 0;
    }
    .car_item h6 {
        font-size: 1rem !important;
        margin-top: 10px;
    }
    .car_item-info {
        flex-wrap: wrap;
    }
    .car_item-info span {
        font-size: .8rem !important;
        justify-content: space-between;
    }
    .car_item-btn {
        padding: 5px 10px;
        font-size: .9rem !important;
    }
}
@media only screen and (max-width: 768px) {
    .car_item h4 {
        font-size: 1rem !important;
    }
    .car_item h6 {
        font-size: .9rem !important;
    }
    .car_item-info span {
        font-size: .7rem !important;
    }
    .car_item-info span i {
        font-size: .9rem !important;
    }
    .car_item-btn {
        font-size: .8rem !important;
    }
}