.footer {
    background: black;
    padding-top: 50px;
    padding-bottom: 15px;
}
.footer_logo i {
    color: white;
    font-weight: 400;
}
.footer_logo span {
    color: white;
    font-weight: 500;
}
.footer_logo_content {
    color: rgba(255, 255, 255, 0.715);
    margin-top: 15px;
    line-height: 30px;
}
.quick_link {
    border: none !important;
    background: transparent !important;
}
.quick_link a {
    color: rgba(255, 255, 255, 0.715);
    text-decoration: none;
    font-weight: 300;
    transition: .3s;
}
.quick_link a:hover {
    color: #ffa500;
}
.footer_link-title {
    color: white;
}
.office_info {
    color: rgba(255, 255, 255, 0.715);
    font-weight: 300;
}
.newsletter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    border: 1px solid #7c8a972f;
    border-radius: 50px;
    background: #000;
}
.newsletter input {
    background: transparent;
    color: white;
    border: none;
    outline: none;
}
.newsletter span i {
    color: white;
}
.footer_bottom {
    border-top: 1px solid #7c8a972f;
}
@media only screen and (max-width: 768px) {
    .footer, .footer_bottom, .footer_link-title {
        text-align: center;
    }
}